langchain
langchain-community
langchain-groq
langchain-chroma
chromadb
pdfplumber
# fastembed  <-- Removed to save space (150MB+)
huggingface_hub
python-dotenv
numpy
fastapi
uvicorn
pydantic
beautifulsoup4
pysqlite3-binary
