langchain
langchain-community
langchain-groq
langchain-pinecone
pinecone-client
pdfplumber
# fastembed  <-- Removed to save space (150MB+)
huggingface_hub
python-dotenv
numpy
fastapi
uvicorn
pydantic
beautifulsoup4

